@import "../../node_modules/spinthatshit/src/loaders.scss";
.event-container {
    .event-wrapper {
        margin-top: 80px;
        .event-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .event-title {
                p {
                    font-size: 0.75rem;
                    color: #a9a9a9;
                }
            }
            button {
                border: 1px solid transparent;
                padding: 16px 32px;
                border-radius: 16px;
                p {
                    font-weight: 600;
                }
            }
            button:hover {
                cursor: pointer;
                background-color: #eb445d;
                color: white;
                transition-duration: 300ms;
            }
        }
        .event-img-cover {
            position: relative;
            width: 100%;
            height: 440px;
            border-radius: 32px;
            background-size: cover;
            background-position: center;
            box-sizing: border-box;
            margin: 40px 0;
            box-sizing: border-box;
            box-shadow: (0px 4px 20px rgba(230, 230, 230, 0.25));
            border-radius: 24px;
            .event-info {
                position: absolute;
                width: 480px;
                max-width: 480px;
                max-height: 376px;
                box-sizing: border-box;
                background-color: white;
                padding: 40px;
                margin: 0;
                border-radius: 32px;
                // top: 40px;
                // right: 56px;
                // transform: translate(0px, 20px);
                position: absolute;
                top: 50%;
                left: 80%;
                transform: translate(-50%, -50%);
                .event-date {
                    margin: 24px 0;
                    .row {
                        display: flex;
                        p {
                            font-size: 0.7rem;
                            margin: 0px 16px 8px 0;
                            letter-spacing: 0.025rem;
                            font-weight: 500;
                            color: #a9a9a9;
                        }
                    }
                }
                button {
                    p {
                        letter-spacing: 0.05rem;
                    }
                }
                button.decline {
                    margin-top: 24px;
                    width: 100%;
                    border: 2px solid transparent;
                    padding: 16px 32px;
                    border-radius: 16px;
                    background-color: #eb445d;
                    color: white;
                    p {
                        font-weight: 600;
                    }
                }
                button.decline:hover {
                    cursor: pointer;
                    border: 2px solid transparent;
                    background-color: #fa2c4b;
                    color: #ffffff;
                    transition-duration: 300ms;
                }
                button.join {
                    margin-top: 24px;
                    width: 100%;
                    border: 2px solid #efefef;
                    padding: 16px 32px;
                    border-radius: 16px;
                    background-color: #efefef;
                    color: #eb445d;
                    p {
                        font-weight: 600;
                    }
                }
                button.join:hover {
                    cursor: pointer;
                    background-color: #fa2c4b;
                    color: #ffffff;
                    border: 2px solid transparent;
                    transition-duration: 300ms;
                }
            }
        }
        .information {
            display: flex;
            justify-content: space-between;
            margin: 32px 0;
            .description {
                width: 69%;
                height: 320px;
                box-sizing: border-box;
                box-shadow: (0px 4px 20px rgba(230, 230, 230, 0.25));
                border-radius: 24px;
                padding: 40px;
                border-radius: 32px;
                p {
                    margin-top: 16px;
                    font-size: 0.8rem;
                    color: #949494;
                }
            }
            .side-info {
                width: 29%;
                box-sizing: border-box;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .side-info-card {
                    @extend .description;
                    width: 100%;
                    height: 46%;
                    hr {
                        width: 100%;
                    }
                    h4 {
                        font-size: 1.25rem;
                    }
                }
                .join {
                    background-color: #f5cc6e;
                    hr {
                        background-color: black;
                    }
                }
                .interesting {
                    background-color: #6968ac;
                    color: white;
                }
            }
        }
        .feedback {
            margin: 32px 0;
            button {
                border-radius: 8px;
                padding: 10px 20px;
                border: 1px solid #eb445d;
                background-color: #eb445d;
                p {
                    font-weight: bold;
                    font-size: 0.7rem;
                    color: white;
                }
            }
            button:hover {
                cursor: pointer;
                background-color: white;
                p {
                    color: #eb445d;
                }
                transition-duration: 200ms;
            }
            .feedback-input {
                text-align: right;
                textarea {
                    resize: none;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 16px;
                    border-radius: 16px;
                    border: 1px solid #f3f3f3;
                    background-color: #f9f9f9;
                    font-family: "Rubik", sans-serif;
                    letter-spacing: 0.05rem;
                    margin-bottom: 16px;
                }
                textarea:focus {
                    background-color: #ffffff;
                }
            }
            .feedback-hr {
                hr {
                    width: 50%;
                    margin: 40px auto;
                }
            }
            .wait {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                justify-content: center;
                height: 104px;
                align-items: center;
                .loader {
                    @include loader05;
                }
            }
            .feedback-list {
                ul {
                    box-sizing: border-box;
                    padding: 0;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    column-gap: 24px;
                    row-gap: 24px;
                    li {
                        list-style: none;
                        border: 1px solid #f9f9f9;
                        box-sizing: border-box;
                        padding: 24px;
                        height: 160px;
                        max-height: 160px;
                        .user {
                            letter-spacing: 0.025rem;
                            text-transform: uppercase;
                        }
                        .comment {
                            margin-top: 16px;
                            font-size: 0.75rem;
                            color: #6d6d6d;
                        }
                    }
                }
            }
        }
    }
}
