.user-auth-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1240px;
    .auth-contents {
        max-width: 1240px;
        display: flex;
        .left {
            width: 50%;
            max-width: 50%;
            box-sizing: border-box;
            padding: 40px;
            background-color: #eb445d;
            border-radius: 24px 0 0 24px;
            display: flex;
            flex-flow: column;
            align-items: center;
            img {
                width: 480px;
                height: 400px;
            }
            h1 {
                text-align: center;
                max-width: 320px;
                color: white;
            }
        }
        .right {
            width: 50%;
            max-width: 50%;
            box-sizing: border-box;
            padding: 40px;
            .top {
                display: flex;
                justify-content: space-between;
                button {
                    padding: 8px 12px;
                    background-color: #eaeaea;
                    border-radius: 4px;
                    border: none;
                    height: 32px;
                    p {
                        font-size: 0.75rem;
                    }
                }
                button:hover {
                    cursor: pointer;
                    background-color: #c2c2c2;
                    transition-duration: 300ms;
                }
            }
            .inputs {
                margin-top: 64px;
                .input {
                    display: flex;
                    flex-flow: column;
                    margin-bottom: 24px;
                    label {
                        color: #a0a0a0;
                        font-size: 0.85rem;
                        letter-spacing: 0.025rem;
                    }
                    input {
                        margin-top: 8px;
                        padding: 12px;
                        border-radius: 8px;
                        border: 1px solid #eaeaea;
                        background-color: #fcfcfc;
                    }
                }
                .footer {
                    display: flex;
                    justify-content: right;
                }
                button {
                    border-radius: 8px;
                    padding: 10px 20px;
                    border: 1px solid #eb445d;
                    background-color: #eb445d;
                    p {
                        color: white;
                    }
                }
                button:hover {
                    cursor: pointer;
                    background-color: white;
                    p {
                        color: #eb445d;
                    }
                    transition-duration: 200ms;
                }
            }
            .error-msg {
                margin-bottom: 24px;
                h6 {
                    letter-spacing: 0.025rem;
                    color: #eb445d;
                }
            }
        }
    }
}
